@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.han-serif {
  font-family: var(--font-source-han-serif);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Microsoft YaHei', 
    var(--font-geist-sans), sans-serif;
}

@layer base {
  .font-song {
    font-family: SimSun, "宋体", STSong, "华文宋体", serif;
  }
}
